# Replit: https://docs.replit.com/core-concepts/workspace/app-setup/configuration
modules = ["nodejs-20"]

build = "npm install && npm run build"

[run]
args = ["sh", "-c", "npm run start -w server"]

[run.env]
PORT = "3000"

[nix]
channel = "stable-23_11"

[deployment]
build = ["sh", "-c", "npm install && npm run build"]
run = ["sh", "-c", "npm run start -w server"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 80
